
table {
  text-align: center;
}

.tilte {
  padding-bottom: 15px;
  background: #435d7d;
  padding: 16px 30px;
  min-width: 100%;
  margin: 20px -25px 10px;
  border-radius: 3px 3px 0 0;
}

.tilte h2 {
  margin: 5px 0 0;
  font-size: 24px;
  color: #ffffff;
}

.tilte .btn-success {
  color: #fff;
  float: right;
  font-size: 15px;
  border: none;
  min-width: 50px;
  border-radius: 2px;
  border: none;
  outline: none !important;
  margin-left: 10px;
}

.table tr th, .table tr td {
  border-color: #e9e9e9;
  padding: 12px 15px;
  vertical-align: middle;
}
.container-table{

  background: mintcream;
  padding: 16px 30px;
  min-width: 100%;
  margin: 20px -25px 10px;
  border-radius: 3px 3px 0 0;
}
.table tr th {
  font-size: 11px;
}
.table tr td button {
  margin:0 3px;
}
.table tr .td-action{
  padding-left: 2px;
  padding-right: 2px;
  width: 400px;
}
.search{
  margin-top: 20px ;
  margin-left: 360px ;
  margin-bottom: 10px;
}
form .input-group{
  width: 200px;
  margin:0 10px;
  float: left;
}
form .form-select{
  width: 200px;
  margin:0 10px;
  float: left;
}
.container-table{
  width: auto;
}

.input-modal-addNew{
  width: 80%;
}
.tilte-input-modal-addNew{
  font-size: 16px;
  color: darkblue;
}
.div-select-modal-addNew .select-modal-addNew{
  margin-left:0;
}
.errormessage{
  color: red;
}
.btn-modal-add-new{
  margin-top: 20px;
}
.btn-modal-add-new button {
  margin: 0 5px 0 5px;
  float: right;
}
.modal-create{
  width: 700px;
}


