<form class="register-form" [formGroup]="productForm" (ngSubmit)="deleteProduct(id.value)" >
  <h2>Xóa sản phẩm</h2>

  <label>ID Sản phẩm:</label>
  <input type="text" formControlName="id" #id disabled>
  <label >Tên sản phẩm:</label>
  <input type="text" formControlName="name" disabled>
  <label >Giá sản phẩm:</label>
  <input type="number" formControlName="price" disabled>
  <label>Mô tả về sản phẩm:</label>
  <input type="text" formControlName="description" disabled>
  <div class="action-container">
    <a routerLink="/product/list" class="back">Back</a>
    <input type="submit" value="Delete">
  </div>
</form>
